html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 4rem;
  text-align: center;
  font-family: monospace;
  height: auto;
  width: auto;
}

input {
  width: 35%;
  height: 50px;
  background-color: lightgray;
  border: none;
  font-size: 2rem;
  text-align: center;
}

button {
  width: 15%;
  height: 50px;
  background-color: rgb(182, 195, 207);
  color: black;
  border: none;
  font-size: 1.75rem;
}

button:hover {
  background-color: gray;
  cursor: pointer;
  color: whitesmoke;
}
h1 {
  margin: 100px 0 100px 0;
}

h2 {
  margin: 100px 0 200px 0;
}

h3 {
  margin: 100px 0 100px 0;
}

h4 {
  margin: 100px 0 100px 0;
}

.paragraph {
  font-size: 5rem;
  border: 2px solid black;
  border-radius: 15px;
  width: 60%;
  margin-bottom: 50px;
  background-color: rgb(110, 71, 71);
  color: rgb(255, 255, 255);
  padding: 18px;
}

.background--custom {
  background: linear-gradient(90deg, #6785a7, #64dffd, #abae32);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}




