html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 4rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgb(226, 133, 133), gray);
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: auto;
}

input {
  width: 35%;
  height: 50px;
  background-color: lightgray;
  border: none;
  font-size: 2rem;
  text-align: center;
}

button {
  width: 15%;
  height: 50px;
  background-color: gray;
  color: white;
  border: none;
}

button:hover {
  background-color: rgb(182, 195, 207);
  cursor: pointer;
  color: white;
}
h1 {
  margin: 100px 0 100px 0;
}

h2 {
  margin: 100px 0 200px 0;
}

h3 {
  margin: 100px 0 100px 0;
}

h4 {
  margin: 100px 0 100px 0;
}

.paragraph {
  font-size: 5rem;
  border: 2px solid black;
  border-radius: 15px;
  width: 60%;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
  background-color: rgb(110, 71, 71);
  color: rgb(255, 255, 255);
  padding: 18px;
}



